body {
    background-color: #262628;
    color: #d0d3d8;
}

a {
    color: #d0d3d8;
}

a:hover {
    background-color: rgb(39,47,55);
}

.hover:hover {
    background-color: rgb(39,47,55);
}

title {
    color: #eef0f4;
}