* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: burlywood;
    font-weight: bold;
    text-decoration: none;
}

.box {
    margin: 20px 20px;
}

.head {
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 10px;
}

.p {
    line-height: 1.5em;
    padding-bottom: 8px;
}

.q {
    font-weight: bold;
}

.a {
    text-indent: 2em;
}